@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@font-face {
  font-family: 'League Spartan';
  src: url("/src/assets/fonts/LeagueSpartan-Bold.woff2") format("woff2"), url("/src/assets/fonts/LeagueSpartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@media (max-width: 1000px) {
  .responsive-normal {
    font-size: 85%; } }

@media (max-width: 840px) {
  .responsive-normal {
    font-size: 80%; } }

@media (max-width: 767px) {
  .responsive-normal {
    font-size: 70%; } }

@media (max-width: 767px) {
  .responsive-normal-on-mobile {
    font-size: 200%;
    color: red; } }

@media (max-width: 840px) {
  .responsive-normal-on-mobile {
    color: blue;
    font-size: 50% !important; } }

@media (max-width: 1000px) {
  .responsive-normal-on-mobile {
    font-size: 80%;
    color: darkgoldenrod; } }
