// fonts
@import '../assets/fonts/leaguespartanfont.scss';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


// Color Palette
$main-font: 'League Spartan';
$main-text-color: red;
$secondary-text-color: green;
