// fonts
@import '../assets/fonts/leaguespartanfont.scss';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


// Color Palette
$main-font: 'League Spartan';
$main-text-color: #3f3e3e;

@mixin make-grid($rows, $columns) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
}
