@import '../sass/global.scss';

$text-sizes: (
    "small": 13px,
    "medium": 23px,
    "large": 33px,
    "huge": 110px,
    "title-size": 18px 
);

.Text {
    font-family: 'League Spartan';
    position: relative;
}

// Creates classes for type of text sizes
@each $textSizeNames, $textSizes in $text-sizes {
    .text-#{$textSizeNames} {
        font-size: $textSizes;
    }
}

@each $textColorNames, $textColor in $text-colors {
    .text-#{$textColorNames} {
        color: $textColor;
    }
}