@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@font-face {
  font-family: 'League Spartan';
  src: url("/src/assets/fonts/LeagueSpartan-Bold.woff2") format("woff2"), url("/src/assets/fonts/LeagueSpartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.Text {
  font-family: 'League Spartan';
  position: relative; }

.text-small {
  font-size: 13px; }

.text-medium {
  font-size: 23px; }

.text-large {
  font-size: 33px; }

.text-huge {
  font-size: 110px; }

.text-title-size {
  font-size: 18px; }

.text-white {
  color: white; }

.text-main {
  color: #3f3e3e; }

.text-secondary {
  color: #5f5f5f; }

.text-alert {
  color: #f84a4a; }
