@import '../sass/global.scss';

$text-sizes: (
    "small": 13px,
    "medium": 33px,
    "big": 43px
);

.Text {
    font-family: 'League Spartan';
    position: relative;
}

.Text::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
.Text:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.Text::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200, 100%, 80%);
    z-index: -1;
    transition: transform .3s ease;
}

// Creates classes for type of text sizes
@each $textSizeNames, $textSizes in $text-sizes {
    .text-#{$textSizeNames} {
        font-size: $textSizes;
    }
}

.text-white {
    color: $main-text-color;
}