@import 'src/sass/global.scss';

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: $main-text-color;
}

.HeaderGrid {
    min-height: 500px;
    @include make-grid(auto 1fr, 55fr 45fr);
    background-image: url("/src/assets/imgs/header.background.png");
    overflow: hidden;
}

.HeaderView-container {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    align-items: center;
}

.Nav-container {
    grid-column-start: 1;
    grid-row: 1;
}

.HeaderLogo-container {
    grid-column: 2;
    grid-row: 2;
    grid-row-end: span 3;
    overflow: hidden;
    align-self: center;
    justify-self: end;
    width: 80vh;
    height: 80vh;

    @include respond-to("tablet-large") {
        width: 480px;
        height: 480px;
    }

    @include respond-to("tablet-normal") {
        width: 350px;
        height: 350px;
    }
}

.hr-white {
    background-color: white;
}