@import '../../../global.scss';

.HeaderGrid {
    min-height: 100vh;
    @include make-grid(1fr, 2fr 1fr);
    background-image: url("/src/assets/imgs/header.background.png");
}

.NavContainer {
    grid-column: 1;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: $main-text-color;
}

.hr-white {
    background-color: white;
}
